html {

}

body {
    background: url(/resources/img/background/main/nightcity.jpg) no-repeat center center fixed;
    background-size: cover;
}

/*Page top*/

.page-top {
    text-align: right;
    background: rgb(28, 28, 33);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 32pt;
    /*border-radius: 0 0 20px 20px;*/
    /*box-shadow: 1px 4px 8px rgb(103, 152, 189);*/
}

.page-top button {
    /*position: static;*/
    /*text-decoration: none;*/
    background: rgba(0, 0, 0, 0);
    color: #ffffff;
    /*border-radius: 7px;*/
    border-color: rgba(0, 0, 0, 0);
    /*box-shadow: 0px 0px 14px rgb(255, 255, 255);*/
    height: 100%;
    text-align: center;
    width: 200px;
    font-size: 20px;
    padding: 8px 14px 30px;
}

.page-top button:hover {
    /*position: static;*/
    /*text-decoration: none;*/
    background: rgba(48, 48, 48, 0.10);
    /*box-shadow: 0px 0px 14px rgb(255, 255, 255);*/
    height: 100%;
    text-align: center;
    color: #6bb9ff;
    width: 200px;
    font-size: 20px;
    padding: 8px 14px 30px;
    border-top: 1px;
    border-bottom: 1px;
    border-color: rgba(107, 185, 255, 0.80);
}

.search-input {
    color: #212121;
}

/*Page mid*/

.page-mid {
    margin-top: 45pt;
    height: 100%;
    width: 100%;
}

/*Page bot*/

.page-bot {
    /*align-items: flex-end;*/
    /*background-color: #ec0008;*/
    height: 10%;
    width: 100%;
}

input {
    color: black;
}

.main-container {
    width: 100%;
    height: 100%;
    border-width: 0;
}

.left-container {
    /*background-color: rgba(9, 8, 7, 0.1);*/
    vertical-align: top;
    text-align: right;
    width: 20%;
    min-width: 120pt;
    height: inherit;
    float: left;
}

.left-container button {
    background: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
    border-color: rgba(0, 0, 0, 0);
    text-align: left;
    height: 30pt;
    max-width: 135pt;
    font-size: 150%;
    padding: 2%;
}

.left-container button:hover {
    background-color: rgba(0, 0, 0, 0.38);
    color: #6bb9ff;
}

.mid-container {
    /*background-color: rgba(9, 8, 7, 0.1);*/
    width: 70%;
    min-width: 300pt;
    color: #ffffff;
    font-size: 14px;
    vertical-align: top;
    float: left;
}

.right-container {
    /*background-color: rgba(9, 8, 7, 0.1);*/
    width: 20%;
    height: inherit;
    float: left;
}

/*Form*/

.form-body {
    background-color: rgba(9, 8, 7, 0.40);
    color: #ffffff;
    font-size: 20px;
    text-align: left;
    margin-left: 38%;
    margin-top: 10%;
    width: 24%;
    padding: 1%
    /*height: 50%;*/

}

.form-body input {
    margin-bottom: 4%;
    text-align: left;
    height: 35px;
    width: 100%;
}

.form-body button {
    margin-top: 1%;
    text-align: center;
    height: 38pt;
    width: 100%;
    background: rgba(255, 255, 255, 0.35);
    color: #ffffff;
    border-color: rgba(15, 21, 68, 0);
    font-size: 20px;
}

.form-body button:hover {
    background: rgb(255, 255, 255);
    color: #141414;
}

.form-body select {
    background: rgb(255, 255, 255);
    /*color: rgba(0, 23, 170, 0.62);*/
    /*border-radius: 7px;*/
    /*border-color: #0f1544;*/
    /*box-shadow: 1px -1px 13px rgb(255, 255, 255);*/
    font-size: 100%;
    height: 35px;
    margin: 2px -3px 0px;
    text-align: center;
}

.select-two-char {
    width: 25%;
}

.select-four-char {
    width: 50%;
}

.select-location {
    width: 50%;
}

.registr-radio input {
    margin-bottom: 4%;
    text-align: left;
    height: 20px;
    width: 15pt;
}

.error-msg {
    font-size: 10px;
    color: red;
}

/*Friend list*/

.profile-list {
    width: 100%;
    min-width: 360pt;
}

.profile-list .search-input {
    margin-bottom: 4%;
    text-align: left;
    height: 35px;
    width: 100%;
}

.profile-list-block {
    border: 1px;
    border-color: #ffffff;
    height: 90pt;
    padding: 4pt;
    margin-bottom: 4pt;
}

/*.profile-list-block img {*/
/*float: left;*/
/*padding-right: 8pt;*/
/*width: 90pt;*/
/*}*/

.profile-list-block-info {
    float: left;
    color: red;
}

.profile-list-block-action {
    float: right;
    color: #A4FFFF;
}

.prof-info-left {
    height: 100%;
    width: 140pt;
    /*min-width: 140pt;*/
    padding: 5pt 5pt 0;
    float: left;
}

.prof-info-image {
    width: 140pt;
    height: 140pt;
}

#prof-info-avatar {
    width: 100%;
}

.prof-content-block {
    width: 100%;
}

.prof-content-block .title {
    background-color: #c9c9c9;
}

.prof-content-block .subtitle {
    background-color: #e8e8e8;
}

.prof-content-block .content {
    width: 100%;
}

.prof-content-block .content .friend {
    float: left;
    height: 30%;
    width: 40%;
}

.prof-info-right {
    height: 100%;
    width: 70%;
    /*min-width: 320pt;*/
    float: left;
    padding-left: 10pt;
}

.prof-info-right .prof-name {
    font-size: 15pt;
    height: 20pt;
    width: 100%;
    color: azure;
}

.prof-info-right .prof-info {
    width: 100%;
    color: azure;
}

/* wall */

.wall-block {
    width: 80%;
}

.wall {
    background-color: rgba(0, 0, 0, 0.24);
    margin-bottom: 4pt;
    width: 100%;
}

.wall .sender-info {
    height: 20pt;
    font-size: 11pt;
    color: #E4D0B0;
}

.wall .wall-message {
    word-wrap: break-word;
}

.wall-input {
    width: 60%;
}

/*images*/
.avatar-mini {
    height: 40pt;
    width: 40pt;
}

.col-little {
    height: 100%;
    width: 140pt;
    /*min-width: 140pt;*/
    padding: 5pt 5pt 0;
    float: left;
}

.col-big {
    height: 100%;
    width: 70%;
    /*min-width: 320pt;*/
    float: left;
}